* {
    color: brown;
}

.header{
    background-color :cyan;
    display:flex;
    justify-content: space-between
    ;
}

.grid
{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}